body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}

/* Default - Font, Imges, Color */
#hamburger-cancel {
  display: none;
}

.default-color-y {
  color: #A357F5;
}

.bg-grey-img {
  background-image: url(./images/hero.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

/* Text - Font*/
.m-title {
  font-weight: 500;
  font-size: 57px;
  line-height: 68px;
  display: flex;
  align-items: center;
  color: #000000;
}

#telegram-contact,
#mail-contact {
  cursor: pointer;
}

#telegram-contact:hover,
#mail-contact:hover {
  font-size: 17px;
}



.btn-blue-nav {
  border-radius: 20px;
  color: white;

  background: #A357F5;
}

#navbarSupportedContent a:hover {
  border-bottom: #FFC700 solid 1px;
}


.hero {
  padding-top: 53px;
}

.hero h2 {
  font-family: 'Rubik', sans-serif;
  max-width: 669px;
  font-weight: 700;
  font-size: 69px;
  line-height: normal;
  max-width: 480px;
}

.hero .btn {
  margin-top: 95px;
  max-width: 345px;
  max-height: 80px;
  padding: 26px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  border-radius: 40px;
}

#img-desk {
  display: block;
  background: url(./images/ggg.png), lightgray 50% / cover no-repeat;
  mix-blend-mode: lighten;
  width: 548px;
  height: 575px;
  flex-shrink: 0;
}

#img-mobile {
  display: none;

}

/* Button */
.btn-blue {
  line-height: 11px;
  padding: 27px 36px;
  letter-spacing: 0.05em;
  color: #FFF !important;
  background: linear-gradient(87deg, #6034E4 0%, #C079FD 95.89%);
  box-shadow: 0px 6px 30px 0px rgba(227, 148, 255, 0.53), 0px -2px 2px 0px #C37CFE inset;
}

/* Section 2 */
.bg-vid {
  max-width: 500px;
}

.card-bonus {
  max-width: 580px;
  background: #1E1914;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 30px 30px 50px 10px rgb(199 171 225);
  background: linear-gradient(103deg, #7C17FC 0.82%, #C17AFD 98.38%);
}

.card-bonus>div {
  padding: 37px;
  border-radius: 15px;
  border: solid white 1px;
}

.contents {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}


/* Section 3 */
.about-skills {
  padding-bottom: 50px;
}

.title {
  font-size: 47px;
  line-height: 41px;
}

.col-ul {
  max-width: 450px;
  margin: 10px 100px 10px 100px;
}

.about-skills li {
  display: flex;
  align-items: center;
  max-width: 362px;
  font-weight: 500;
  line-height: 110%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.about-skills li span {
  margin-right: 24px;
}

.webmater {
  background-image: url(./images/webmaster-bg.png);
}

.webmater .item {
  max-width: 372px;
  margin: 10px 100px 10px 100px;
  background: #1E1914;
  border: 1px solid #811EFC;
  text-align: center;
  box-shadow: 14px 12px 30px rgba(0, 0, 0, 0.76);
}

.webmater .btn {
  line-height: 26px;
  color: white;
  padding: 27px 36px;
  margin: 44px 39px;
}

.webmater .item h1 {
  padding-top: 47px;
  font-size: 40px;
  line-height: 47px;

  color: #811EFC;
}

.webmater .item p {
  font-size: 24px;
  line-height: 135%;
  padding: 41px 0px;
}

.Bonuses .card-bonus {
  height: fit-content;
}

.Bonuses .gift-section {
  max-width: 1000px;
}



.mb-120 {
  margin-bottom: 120px;
}

.Bonuses-items {
  justify-content: center;
}

.Bonuses .btn {
  font-size: 22px;
  color: #ffffff;
}

.Bonuses-items p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  justify-content: center;
}

.Bonuses-items .news-item {
  margin-top: 20px;
  max-width: 372px;
  padding: 40px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.Bonuses-items img {
  padding-bottom: 24px;
}

.feedback {
  background-image: url(./images/webmaster-bg.png);
}

.feedback-items {
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(103deg, #7C17FC 0.82%, #C17AFD 98.38%);
  padding: 10px;
}

.feedback-items>div {
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  border: solid white 1px;
}

.feedback-items img {
  border-radius: 50%;
}

.feedback h4 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.feedback p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 15.6px */
  opacity: 0.61;
}

.contactus {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 226px;
}

.contactus h2 {
  font-size: 57px;
}
.contactus>div {
  max-width: 1000px;
}

.contactus a {
  font-size: 18px;
  padding: 10px 21px;
}

.contactus img {
  width: 36px;
  height: 36px;
}

.btn-tg-mail {
  border: 2px solid #FFC700;
  border-radius: 50px;
  width: 273px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.btn-tg-mail span {
  background: linear-gradient(87.32deg, #FF6F00 0.89%, #FF9900 98.08%);
  box-shadow: 0px 5px 20px rgba(255, 124, 0, 0.26), inset 0px -4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 47px;
  height: 47px;
}

.space-contact {
  height: 80px;
  background-color: #FFFFFF;
}

/* Footer */
footer {
  padding-top: 52px;
  color: #7B7B7B;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.84px;
}

footer p {
  color: #7B7B7B !important;
}

footer a {
  color: #FFF !important;
  text-decoration: none !important;
}

footer .copyright-footer {
  padding: 18px;
}

.contact-footer img {
  margin-right: 25px;
}

.chip-mobile {
  display: none;
}

.chip-desk {
  display: inline;
  position: absolute;
  left: 0;
  height: 50%;
  top: 15%;
  border: 1px solid #000000;
  filter: blur(250px);
  background: rgba(255, 199, 0, 0.48);
  width: 50%;
  background-position: center;
  background-size: cover;
}

.footer-up {
  position: absolute;
  bottom: 0px;
  right: 0;
  max-width: 950px;
  z-index: -1;
  width: 90%;
}



#aboutus {
  padding-bottom: 55px;
  margin-top: 100px;
}

#aboutus .card-bonus {
  margin: 0px 115px 280px -94px;
  z-index: 1;
}

@media (max-width: 992px) {

  .webmater .item {
    margin: 35px;
  }

  #aboutus .card-bonus {
    margin: 10px !important;
    z-index: 1;
  }

  .col-ul {
    margin: 0;
  }

  #navbar.show {
    background: #141414;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start;
  }

  #img-desk {
    display: none;
  }

  #img-mobile {
    display: block;
    background: url(./images/ggg.png), lightgray 50% / cover no-repeat;
    mix-blend-mode: lighten;
    width: 300px;
    height: 310px;
    background-size: 100%;
    flex-shrink: 0;
  }

  .space-contact {
    height: 26px;
  }

  footer {
    padding-top: 20px;
    padding-bottom: 26px;
  }

  .contact-footer {
    flex-direction: column;
  }

  .contact-footer img {
    margin-right: 18px;
  }

  #signup-in {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 568px) {
  .chip-mobile {
    display: inline;
  }

  .chip-mobile img {
    width: 300px;
  }

  .title {
    font-size: 37px !important;
  }
  .bg-vid {
    max-width: 300px;
  }
  .chip-desk {
    display: none;
  }

  .img-gift {
    max-width: 350px;
  }

  .Bonuses .card-bonus {
    margin-top: 100px;
    max-width: 372px;
    position: relative;
  }

  /* hero */
  .hero {
    padding-top: 50px;
    padding-left: 20px;
  }

  .hero>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h2 {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
  }

  .btn {
    font-size: 14px;
    line-height: 17px;
    margin: 40px 0;
  }



  .navbar-brand .me-5 {
    margin-right: 0px !important;
  }

  .m-title {
    font-size: 40px;
    line-height: 47px;
  }

  .contents {
    font-size: 14px;
    line-height: 24px;
  }


  .webmater .item h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .webmater .item p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .webmater .btn {
    font-size: 16px;
    padding: 18px 26px;
    margin: 10px;
    font-size: 16px;
    line-height: 19px;
  }

  .contactus {
    padding-bottom: 92px;
  }

  .footer-up {
    z-index: -1;
    bottom: 40px;
    right: 0;
    width: 70%;
  }
}